body.popup {
    width: 300px;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
}

body.warning {
    color: #be1900;
    background-color: #ffc7c8;
    border-color: #be1900;
}

body.popup.clean {
    color: #009718;
    background-color: #dafbd2;
    border-color: #009718;
}
